$color-gray-200: #e5e7eb;
$color-gray-400: #51667e;
$color-gray-500: #4a5c7b;

$color-yellow-200: #fde68a;
$color-yellow-300: #fcd34d;
$color-yellow-400: #fbbf24;
$color-yellow-500: #f59e0b;
$color-yellow-600: #d97706;
$color-yellow-700: #b45309;
$color-yellow-800: #92400e;
$color-yellow-900: #78350f;

$color-primary: $color-yellow-700;
$color-primary-light: $color-yellow-600;
$color-primary-dark: $color-yellow-800;
$color-primary-contrast: #fff;

$color-text: #1b1f29;
