$spacing-2xs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-s: 0.75rem;
$spacing-m: 1rem;
$spacing-l: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-2xl: 1.75rem;
$spacing-3xl: 2rem;
$spacing-4xl: 2.5rem;
$spacing-5xl: 3rem;
$spacing-6xl: 3.5rem;
$spacing-7xl: 4rem;
$spacing-8xl: 5rem;
$spacing-9xl: 6rem;
$spacing-10xl: 7rem;
$spacing-11xl: 9.5rem;
$spacing-12xl: 12rem;
